@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/Montserrat-SemiBold.ttf');
}

.text {
    -fx-font-family: "Montserrat SemiBold";
    /* -fx-font-size: 15; */
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.overheadtitle {
    -fx-font-size: 18;
}

.vehicleoption {
    -fx-font-size: 17;
}

.screenchange_button {
    -fx-font-size: 16;
}

.cost {
    -fx-font-size: 13;
}

.servicegroup_title {
    -fx-font-size: 14;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  linear-gradient(to right, #47bb7c, #4ACF9F);
    -fx-background-radius: 11px 11px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.proceedbutton {
    -fx-background-color:  linear-gradient(to right, #47bb7c, #4ACF9F);
    -fx-text-fill: white;
    -fx-background-radius:  0 0 0 11;
}

.proceedbutton:hover {
    -fx-background-color:  linear-gradient(to right, #8adeb1, #4ACF9F);
}

.proceedbutton:pressed {
    -fx-background-color: linear-gradient(to right, #369d64, #4ACF9F);
}

.cancelbutton {
    -fx-background-color:   linear-gradient(to right, #FB1E1Ebf, #FF482FBF);
    -fx-text-fill: white;
    -fx-background-radius:  0 0 11 0;
}

.cancelbutton:hover {
    -fx-background-color:   linear-gradient(to right, #f4aaaabf, #FF482FBF);
}

.cancelbutton:pressed {
    -fx-background-color: linear-gradient(to right, #ad2525bf, #FF482FBF);
}